body{
    --space: 12px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-message{
    --el-message-min-width: 0;
}
.el-dialog__footer:empty{display: none;}

img{display: block;}

.omit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}